Checks: |-
  *,
  -*-member-init,
  -*-vararg,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-default-arguments-calls,
  -fuchsia-multiple-inheritance,
  -fuchsia-overloaded-operator,
  -hicpp-signed-bitwise,
  -modernize-use-trailing-return-type
